In [1]:
import pandas as pd
dataset = pd.read_csv("heart.csv")

In [2]:
#a) Display the first and last 12 rows of the dataset.
dataset.head(12)
dataset.tail(12)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
906,55,F,ATA,132,342,0,Normal,166,N,1.2,Up,0
907,44,M,ASY,120,169,0,Normal,144,Y,2.8,Down,1
908,63,M,ASY,140,187,0,LVH,144,Y,4.0,Up,1
909,63,F,ASY,124,197,0,Normal,136,Y,0.0,Flat,1
910,41,M,ATA,120,157,0,Normal,182,N,0.0,Up,0
911,59,M,ASY,164,176,1,LVH,90,N,1.0,Flat,1
912,57,F,ASY,140,241,0,Normal,123,Y,0.2,Flat,1
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
#B) Identify and print the total number of rows and columns present
rows, columns = dataset.shape #getting the number of elements in each dimension (array)
print(f"Total number of rows: {rows}") #printing the number of rows
print(f"Total number of columns: {columns}") #printing the number of columns

Total number of rows: 918
Total number of columns: 12

In [4]:
#c) List all column names along with their corresponding data types.
print(dataset.dtypes) #prints column names with data types

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [5]:
#D) Print the name of the first column
firstCol = dataset.columns[0]
print(f"First column name: {firstCol}") #print the name of the first column

First column name: Age

In [6]:
#e) Generate a summary of the dataset, including non-null counts and data types.
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [7]:
#F) Choose a categorical attribute and display the distinct values it contains
categoricalAttr = dataset['Sex'].unique() #getting the unique values of the chosen category
print(f"Distinct values of categorical attribute: {categoricalAttr}") #printing out the distinct values

Distinct values of categorical attribute: ['M' 'F']

In [8]:
#g) Identify the most frequently occurring value in the chosen categorical attribute
print(dataset["ChestPainType"].mode()[0])

ASY

In [9]:
#h) Calculate and present the mean, median, standard deviation, and percentiles
dataset.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000